[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sh4ne
[access "refs/for/refs/*"]
	read = group user/sh4ne
	push = group user/sh4ne
	label-Code-Review = -2..+2 group user/sh4ne
	label-Verified = -1..+1 group user/sh4ne
	rebase = group user/sh4ne
	removeReviewer = group user/sh4ne
	submit = group user/sh4ne
[access "refs/heads/*"]
	read = group user/sh4ne
	create = group user/sh4ne
	push = +force group user/sh4ne
	pushMerge = group user/sh4ne
[access "refs/tags/*"]
	push = +force group user/sh4ne
	pushTag = group user/sh4ne
	pushSignedTag = group user/sh4ne
